---
layout: default
---

<div class="home">

  {{ content }}

  {% assign name = page.col %}
  {% for c in site.collections %}
    {% if c.label == name %}
      {% assign docs = c.docs | sort: "sortable" %}
    {% endif %}
  {% endfor %}
  <ul class="doc-list">
    {% for doc in docs %}
      <li>
        <h2>
          <a class="doc-link" href="{{ doc.url | relative_url }}">{{ doc.title | escape }}</a>
        </h2>
          <span class="doc-desc">{{ doc.desc }}</span>
      </li>
    {% endfor %}
  </ul>

</div>
