---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading"><b>Server Software</b></h1>
  <ul class="doc-list">
    {% assign docs = site.serverdocs | sort: "sortable" %}
    {% for doc in docs %}
      <li>
        <h2>
		<a class="doc-link" href="{{ doc.url | relative_url }}">{{ doc.title | escape }}</a>
        </h2>
	<span class="doc-desc">{{ doc.desc }}</span>
      </li>
    {% endfor %}
  </ul>
  
  <h1 class="page-heading"><b>Client Software</b></h1>
  <ul class="doc-list">
    {% assign docs = site.clientdocs | sort: "sortable" %}
    {% for doc in docs %}
      <li>
        <h2>
		<a class="doc-link" href="{{ doc.url | relative_url }}">{{ doc.title | escape }}</a>
        </h2>
	<span class="doc-desc">{{ doc.desc }}</span>
      </li>
    {% endfor %}
  </ul>

</div>
